@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

body {
  font-family: 'Manrope', sans-serif;
  background-color: black;
  color: #ededed;
  overflow-x: hidden;
}

@theme{
  --font-manrope: 'Manrope', sans-serif;
}
/* Ensure proper mobile scrolling */
html {
  scroll-behavior: smooth;
}

/* Fix any potential horizontal scroll issues */
* {
  box-sizing: border-box;
}
